<%= form_with(model: @article, local: true) do |f| %>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='field'>
    <%= f.label :category_elements %>
    <div class="row">
      <% @categories.each do |category| %>
        <label class="col-6 col-sm-4">
          <%= f.check_box :category_elements, { multiple: true }, category.id, nil %>
          <%= category.title %>
        </label>
      <% end %>
    </div>
  </div>
  <div class='field'>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
