<div class="large-container center-block">
<% if @article %>
  <h1><%= @article.title %></h1>
  <div>
    <p>Written by <strong><%= @article.user.email %></strong></p>
  </div>
  <div><%= @article.content %></div>
  <div class="margin-top">
    <p class="label">Tags</p>
    <% @article.categories.each do |category| %>
      <span class="badge badge-pill padding" style='background-color: <%= category.color %>'>
        <%= link_to category.title, category, class: 'text-white' %>
      </span>
    <% end %>
  </div>
  <div>
    <%= link_to 'Delete', article_path(@article), method: :delete %>
  </div>
<% else %>
  <div><h1>Article not found </h1></div>
<% end %>
</div>
